* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Arial";
}

h1 {
	text-align: center;
	padding: 30px;
}

article {
	background-color: lightgrey;
	border: 1px solid black;
	margin: 10px;
}

p {
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
}

article > p:nth-child(1) {
	background-color: lightpink;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 100px;
	float: right;
	text-align: center;
	font-weight: 600;
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-4, .col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-4 {
		width: 33.33%
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.col-ld-4, .col-ld-6, .col-ld-12 {
		float: left;
	}
	.col-ld-4 {
		width: 33.33%
	}
	.col-ld-6 {
		width: 50%;
	}
	.col-ld-12 {
		width: 100%;
	}
}